<!DOCTYPE html>
<html>

<head>
    <title>DevOps Todo App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Hello Yogesh!</h1>
    <p>Welcome to the world of DevOps... </p>
    <p><strong>You're running <span style="color:#2a9df4;">Fullstack Version 5 🚀</span></strong></p>
    <p class="jenkins-msg">Automated by Jenkins CI 🚀</p>

    <div class="ci-badge">
        ✅ CI/CD Verified & <code>/meta</code> route added in v5
    </div>
</body>

</html>