body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

p {
    color: #555;
}

.jenkins-msg {
    color: blue;
    font-weight: bold;
    font-size: 2em;
}

.ci-badge {
    background-color: #d3d3d3;
    border: 1px solid #0000ff;
    color: green;
    padding: 10px;
    margin: 20px auto;
    width: 60%;
    border-radius: 8px;
    font-weight: bold;
}